/* Tokyo City Terminal Dark by Michaël Ball */

:root {
	--base00: #000000;
	--base01: black;
	--base02: #000000;
	--base03: #526270;
	--base04: green;
	--base05: green;
	--base06: green;
	--base07: green;
	--base08: #D95468;
	--base09: #FF9E64;
	--base0A: #EBBF83;
	--base0B: #d8f793;
	--base0C: #70E1E8;
	--base0D: #d8f793;
	--base0E: #B62D65;
	--base0F: #DD9D82;
}
